<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>

	<h1>
		OTOPARK A - KAT 1
	</h1>
	<href></href>

<div class="parkinglot" style="--cols:{{node.attributes.get('cols',5)|int}}; --rows:{{node.attributes.get('rows',5)|int}};">
	{% for cell in cells %}
		<div class="spot"
			style="grid-row: {{ cell.attributes.row }};
				grid-column: {{ cell.attributes.col }};">
			
			{% if cell.attributes.status == "occupied" %}
				<div class="car red"></div>
			{% else %}
				<div class="car green"></div>
			{% endif %}
			
		</div>
	{% endfor %}
</div>
</body>
</html>